openapi: 3.1.0
info:
  title: Google Cloud CDN BackendServices UrlMaps API
  description: Manages Cloud CDN resources including backend services with CDN enabled, URL maps, and cache invalidation through the Compute Engine API.
  version: 1.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/cdn
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://compute.googleapis.com/compute/v1
  description: Google Compute Engine API v1 (Cloud CDN is managed via Compute Engine)
security:
- oauth2:
  - https://www.googleapis.com/auth/compute
tags:
- name: UrlMaps
  description: Manage URL maps for routing
paths:
  /projects/{project}/global/urlMaps:
    get:
      operationId: listUrlMaps
      summary: Google Cloud CDN List URL Maps
      description: Retrieves the list of URL map resources available to the project.
      tags:
      - UrlMaps
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UrlMap'
                  nextPageToken:
                    type: string
components:
  schemas:
    UrlMap:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        selfLink:
          type: string
        defaultService:
          type: string
        hostRules:
          type: array
          items:
            type: object
            properties:
              hosts:
                type: array
                items:
                  type: string
              pathMatcher:
                type: string
        pathMatchers:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              defaultService:
                type: string
        creationTimestamp:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/compute: Full access to Compute Engine
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
